*{
    margin: 0%;
    padding: 0%;
    font-family: 'Times New Roman', Times, serif
}

main{
    height: 100vh;
    width: 100%;
    background-color: brown;
}

header{
    display: flex;
    justify-content: center;
    padding-top: 200px;

}

input{
    background: none;
    font-size: 18px;
    font-style: italic;
    transition: 0.5s;
    flex: 2 2 70%;
    margin: 15px;
    appearance:none;
    background-color: blanchedalmond;
    border-radius: 9px;
    padding: 19px;
  
}
.input::-moz-focus-inner{
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0,0.3);
}

h1{
    margin-bottom: 32px;
    font-size: 48px;
    font-weight: 200;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
.inputs{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 768px;
}